<section id="about" class="about section">
  <div class="container">
    <p class="pre-title">Про нас</p>
    <h2 class="title">Лампа Алладіна</h2>
    <div class="about__wrapper">
      <!-- <picture class="cowmilk">
        <source
          srcset="
            ./images/about/cowmilkdesc1x.webp 1x,
            ./images/about/cowmilkdesc2x.webp 2x
          "
          media="(min-width:1200px)"
          type="image/png"
          type="image/webp"
          width="551"
        />
        <source
          srcset="
            ./images/about/cowmilktab1x.webp 1x,
            ./images/about/cowmilktab2x.webp 2x
          "
          media="(min-width:768px)"
          type="image/png"
          type="image/webp"
          width="336"
        />
        <source
          srcset="
            ./images/about/cowmilkmob1x.webp 1x,
            ./images/about/cowmilkmob2x.webp 2x
          "
          media="(min-width:320px)"
          type="image/png"
          type="image/webp"
        />
        <img
          class="about_imagecowmilk"
          src="./images/about/cowmilkmob1x.webp"
          alt="cow and milk"
          width="280"
        />
      </picture> -->
      <div class="content">
        <div class="content__wrap">
          <p class="content__text">
            Кальян-клуб заснований у травні 2007. Завданням кальян-клубу є
            створення нових можливостей відпочинку від турботи сірих буднів. Ми
            робимо все для того, щоб люди, які цінують свій відпочинок, свій час
            та спілкування у затишній атмосфері, отримували лише приємні емоції.
            Саме тому нашими постійними клієнтами часто стають друзі тих, хто
            хоч раз спробував наші послуги.
          </p>
          <p class="content__text">
            За час нашої роботи ми продовжували та продовжуємо вдосконалюватися
            для того, щоб розкрити цю частинку світу Сходу у всій красі.
          </p>
        </div>
        <button class="content__button" type="button">
          Read more
          <svg class="btn-icon" width="6" height="10">
            <use href="./images/sprite.svg#icon-further"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
