<section id="contacts" class="section contacts">
  <div class="container">
    <h2 class="visually-hidden">Наші контакти</h2>
    <ul class="card__list">
      <li class="card__item">
        <p class="category__name">Кальян додому/ Кейтерінг</p>
        <div class="content__wrap">
          <p class="card__city">м. Київ</p>
          <p class="content__text">Телефонуй нам з:</p>
        </div>
        <ul class="schedule-list">
          <li class="schedule__item">
            <p class="schedule--day">Понеділка - П'ятницю</p>
            <p class="schedule--time">10:00 - 22:00</p>
          </li>
          <li class="schedule__item">
            <p class="schedule--day">Суботи - Неділю</p>
            <p class="schedule--time">10:00 - 22:00</p>
          </li>
        </ul>
        <div class="card__contact">
          <a class="card__link connect__button" href="tel:+380988835395"
            >+38(098) 883 53 95</a
          >
          <a
            class="card__link connect__button"
            href="mailto:noreply@noreply.com"
            >noreply@noreply.com</a
          >
        </div>
      </li>
    </ul>

    <ul class="connect">
      <!-- <li class="connect__item">
        <button class="connect__button" type="button" data-location-open>
          Our Locations
          <svg class="icon-more" width="6" height="8">
            <use href="./images/sprite.svg#icon-further"></use>
          </svg>
        </button>
      </li> -->
      <li class="connect__item">
        <button
          class="connect__button franchise"
          type="button"
          data-franchise-open
        >
          Замовити!
          <svg class="icon-more" width="6" height="8">
            <use href="./images/sprite.svg#icon-further"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <button class="scroll-up" data-home type="button">
    <svg class="scroll-up__icon" width="50" height="50">
      <use href="./images/symbol-defs.svg#icon-arrow-up2"></use>
    </svg>
    <!-- data-aos="fade-up"
    data-aos-anchor-placement="center-center" -->

    <!-- <button class="return-btn" id="scroll-to-top-button">Back to Top</button> -->
  </button>
</section>
