<div class="backdrop is-hidden" data-franchise>
  <div class="modal franchise__modal">
    <form class="form">
      <b class="form__title">Заповни форму і ми зв'яжемось із тобою!</b>
      <div class="form__field">
        <label class="form__label" for="name">Ім'я</label>
        <div class="form__wrap">
          <input
            class="form__input"
            type="text"
            id="name"
            name="name"
            placeholder="Іван Іванович"
            required
          />
          <svg class="modal__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-person"></use>
          </svg>
        </div>
      </div>
      <div class="form__field">
        <label class="form__label" for="tel">Телефон</label>
        <span class="form__wrap">
          <input
            class="form__input"
            type="text"
            id="tel"
            name="tel"
            placeholder="0631231212"
            required
          />
          <svg class="modal__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
        </span>
      </div>

      <div class="form__field">
        <label class="form__label" for="mail">E-mail</label>
        <span class="form__wrap">
          <input
            class="form__input"
            type="email"
            id="mail"
            name="mail"
            placeholder="reply@reply.com"
            required
          />
          <svg class="modal__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-email"></use>
          </svg>
        </span>
      </div>

      <div class="form__field">
        <label class="form__label" for="comment">Якісь побажання? </label>
        <textarea
          class="form__textarea"
          name="comment"
          id="comment"
          placeholder="Type a message"
        ></textarea>
      </div>

      <button class="button-franchise connect__button" type="submit">
        Надіслати
      </button>
    </form>
    <button class="button__close" type="button" data-franchise-close="">
      <svg class="button__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
  </div>
</div>
