<header>
  <div class="header__container container">
    <nav class="main-nav">
      <a class="logo" href="./index.html">
        <img
          class="logo-img"
          src="./images/hookah/toindex.webp"
          alt="logo"
          width="120"
          aria-label="Logo"
        />
      </a>

      <ul class="site-nav list">
        <!-- <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--current" href="./index.html"
            >Головна</a
          >
        </li> -->
        <li class="site-nav__item">
          <a class="site-nav__link" data-about>Про нас</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" data-info>Інформація</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" data-products>Послуги</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" data-contacts>Контакти</a>
        </li>
      </ul>
      <div class="header__buttons">
        <button
          type="button"
          class="mobile-nav__btn"
          aria-expanded="false"
          data-menu-button
        >
          <svg
            class="mobile-nav__icon"
            width="20"
            height="12"
            aria-label="Mobile menu"
          >
            <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
            <use class="icon-menu" href="./images/sprite.svg#icon-burger"></use>
          </svg>
        </button>

        <button class="header__btn" data-modal-open>
          Замовити!
          <svg class="btn-icon" width="6" height="10">
            <use href="./images/sprite.svg#icon-further"></use>
          </svg>
        </button>
      </div>

      <div class="site-nav--mobile" data-menu>
        <button class="header__btn--mobile" type="button" data-modal-open-mob>
          Замовити!
          <svg class="btn-icon" width="6" height="10">
            <use href="./images/sprite.svg#icon-further"></use>
          </svg>
        </button>
        <div class="gradient"></div>
        <ul class="site-nav__list--mobile">
          <!-- <li class="site-nav__item--mobile">
            <a
              class="site-nav__link site-nav__link--mobile site-nav__link--current"
              href="./index.html"
              >Головна</a
            >
          </li> -->
          <li class="site-nav__item--mobile">
            <a class="site-nav__link site-nav__link--mobile" data-about
              >Про нас</a
            >
          </li>
          <li class="site-nav__item--mobile">
            <a class="site-nav__link site-nav__link--mobile" data-info
              >Інформація</a
            >
          </li>
          <li class="site-nav__item--mobile">
            <a class="site-nav__link site-nav__link--mobile" data-products
              >Послуги</a
            >
          </li>
          <li class="site-nav__item--mobile">
            <a class="site-nav__link site-nav__link--mobile" data-contacts
              >Контакти</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
