<section id="products" class="section over-hide background">
  <div class="container">
    <h2 class="title">Наші послуги</h2>

    <div class="inner-section">
      <input class="pricing" type="checkbox" id="pricing" name="pricing" />
      <label for="pricing">
        <span class="span">
          Виїзд на дім
          <span class="">Кейтерінг</span></span
        ></label
      >
      <div class="card-3d-wrap">
        <div class="card-3d-wrapper">
          <div class="card-front">
            <div class="pricing-wrap">
              <h3 class="card__service">Кальян додому</h3>
              <p class="card__passage card__passage--first">Київ</p>

              <!-- <h4 class="card__text">
                від 500<sup>грн*</sup><br /><span>з 10:00 - 23:00</span>
              </h4> -->
              <!-- <p class="mb-4">per person</p>
              <p class="mb-4">Drina, Serbia</p> -->
              <button type="button" class="hero__button_products">
                Повна інформація
              </button>
              <div class="img-wrap img-7">
                <img
                  src="./images/hookah/carpet-orange.webp"
                  alt="помаранчевий килим"
                  width="345"
                />
              </div>
              <div class="img-wrap img-1">
                <img
                  src="./images//hookah/brown-hookah.webp"
                  alt="кальян на килимі"
                  width="285"
                />
              </div>
              <div class="img-wrap img-3">
                <img
                  src="./images/hookah/tiny-carpet.webp"
                  alt="маленький килим"
                />
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="pricing-wrap">
              <h3 class="card__service">Кейтерінг</h3>
              <p class="card__passage">Київ та обл.</p>
              <h4 class="card__text">
                від 4000<sup>грн</sup> / 4-5<sup>год</sup>
              </h4>

              <button type="button" class="hero__button_products">
                Повна інформація
              </button>
              <div class="img-wrap img-2">
                <img src="https://assets.codepen.io/1462889/grass.png" alt="" />
              </div>
              <div class="img-wrap img-4">
                <img
                  src="./images//hookah/brown-hookah.webp"
                  alt="кальян на
                траві"
                  width="285"
                />
              </div>
              <div class="img-wrap img-5">
                <img
                  src="https://assets.codepen.io/1462889/Ivy.png"
                  alt="камінь"
                  loading="lazy"
                />
              </div>
              <div class="img-wrap img-6">
                <img
                  src="https://assets.codepen.io/1462889/IvyRock.png"
                  alt="камінь"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
