.contacts {
  background-image: linear-gradient(#dc24244f, #4a569d62),
    url(../images/hookah/Image-by-rawpixel.com-on-Freepik.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
  }
}

.card__item {
  backdrop-filter: blur(10px);

  padding: 40px 32px;
  border-radius: 24px;

  background-color: #ffffff0f;
  box-shadow: var(--box-shadow);

  @include mq(desk) {
    padding: 40px;
  }
}

.category__name {
  @include fonts($fs: 12px, $fw: 500, $lh: 1.8, $ls: 0.04em);
  @include mq(tab) {
    @include fonts($fs: 16px, $fw: 500, $lh: 1.8, $ls: 0.04em);
  }

  display: inline-block;
  margin-bottom: 20px;

  color: var(--background-secondary);
  padding: 0 25px;

  background-color: var(--coffee-color);
  border-radius: 4px;
  @include mq(tab) {
    padding: 0 15px;
    margin-bottom: 32px;
  }
}

.card__item:nth-child(even) .category__name {
  background-color: var(--green-color);
}

.card__content,
.schedule__item,
.card__contact {
  @include fonts(12px, 500, 1.5, 0.04em);

  @include mq(tab) {
    font-size: 14px;
  }
  @include mq(desk) {
    font-size: 16px;
  }
}

.card__content,
.schedule-list {
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
  @include mq(tab) {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}

.schedule__item + .schedule__item {
  margin-top: 10px;
}

.schedule--day,
.content__text,
.card__city {
  color: #e5e5e5;
}

.schedule--time {
  color: var(--title-secondary);
}

.card__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  min-width: 180px;
}

.card__link {
  text-align: center;
  text-decoration: none;

  padding: 10px;
  min-width: 220px;

  color: var(--grey-text);
  transition: color var(--transition);
}

.connect {
  margin-top: 32px;
  text-align: center;

  @include mq(tab) {
    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.connect__item + .connect__item {
  @include mq(mob-only) {
    margin-top: 10px;
  }
  @include mq(tab) {
    margin-left: 15px;
  }
}

.connect__button {
  @include fonts(16px, 700, 1.31, 0.02em);
  cursor: pointer;

  padding: 10px;
  min-width: 192px;
  min-height: 44px;

  color: var(--background-secondary);
  background-color: var(--title-main);
  transition: color var(--transition), background-color var(--transition);

  border: 1px solid transparent;
  border-radius: 22px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: var(--title-main);
  }
}

.connect__button.franchise {
  color: var(--title-main);
  background-color: var(--background-secondary);
  transition: color var(--transition), background-color var(--transition);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

//  modal
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-main);
  // background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 650ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 800px;
  height: 90vh;
  max-width: 800px;
  width: 90vw;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.franchise__modal {
  max-width: 450px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button__icon {
  width: 18px;
  height: 18px;
  fill: var(--title-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button__close:hover &,
  .button__close:focus & {
    fill: var(--hover-text-color);
  }
}

.icon-more {
  fill: currentColor;
  stroke: currentColor;

  margin-left: 8px;

  @include mq(tab) {
    margin-left: 14px;
  }
}

.form {
  font-family: var(--text-ff);

  width: 100%;
  height: 100%;
  padding: 40px;
}

.form__title {
  font-family: var(--title-ff);

  display: block;
  text-align: center;

  margin-bottom: 12px;

  color: var(--title-main);

  @media screen and (max-width: 321px) {
    @include fonts(14px, 700, 1.2, 0.03em);
  }

  @include mq(desk) {
    @include fonts(20px, 700, 1.15, 0.03em);
  }
}

.form__field {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 10px;
  }
}

.form__label {
  @include fonts(12px, 500, 1.5, 0.03em);

  margin-bottom: 4px;
  color: var(--grey-text);

  @include mq(desk) {
    line-height: 1.14;
  }
}

.form__wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.form__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 10px;

  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--title-main);
  }
  &:hover + .modal__icon,
  &:focus + .modal__icon {
    border-color: var(--transition);
    fill: var(--title-main);
  }
}

.form__textarea {
  @include fonts(14px, 400, 1.14, 0.01em);

  width: 100%;
  height: 120px;
  padding: 12px 15px;

  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--title-main);
  }
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.button-franchise {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--ukr-text);

  @media (max-width: 321px) {
    margin-top: 5px;
  }
  margin-top: 50px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}
