.hero {
  display: block;
  position: relative;

  overflow: hidden;
  padding-top: 193px;
  padding-bottom: 158px;
  z-index: 1;
  height: 100vh;
  @include mq(mob-only) {
    // background-image: url(../images/hero/mob/ellipse.webp);
    // background-repeat: no-repeat;
    // background-size: 346px;
    // background-position: calc(50% + 43px);
  }
  // @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1),
  //   screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (min-resolution: 192dpi),
  //   screen and (max-width: 767px) and (min-resolution: 2dppx) {
  //   // background-image: url(../images/hero/mob/ellipse@2x.webp);
  // }

  @include mq(fab) {
    padding-top: 110px;
    padding-bottom: 15px;
    // background-image: url(../images/hero/tablet/ellipse.webp);
    // background-image: linear-gradient(to bottom, #dc24244f, #4a569d62),
    //   url(../images/hookah/background.png);
    // background-repeat: no-repeat;
    // background-size: 346px;
    // background-position: calc(50% + 16px);
  }
  // @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1),
  //   screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (min-resolution: 192dpi),
  //   screen and (max-width: 767px) and (min-resolution: 2dppx) {
  //   // background-image: url(../images/hero/tablet/ellipse@2x.webp);
  //   background-image: linear-gradient(to bottom, #dc24244f, #4a569d62),
  //     url(../images/hookah/background.png);
  // }

  @include mq(desk) {
    // background-image: url(../images/hero/desctop/ellipse.webp);
    // background-image: linear-gradient(to bottom, #dc24244f, #4a569d62),
    //   url(../images/hookah/background.png);
    // background-repeat: no-repeat;
    // background-size: 534px;
    // background-position: calc(50% + 190px);
    padding-top: 0;
    padding-bottom: 40px;
  }
  // @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1),
  //   screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (max-width: 767px) and (min-resolution: 192dpi),
  //   screen and (max-width: 767px) and (min-resolution: 2dppx) {
  //   // background-image: url(../images/hero/desctop/ellipse@2x.webp);
  // }
}

.hero-content {
  @include mq(tab-only) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hero__container {
  transform: translate3d(0, calc(var(--scrollTop) / -2.5), 0);
  transition: var(--transitionParallax);
  will-change: transform;
  @include mq(mob-only) {
    outline: none;
    max-width: 320px;
  }

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 80px 20px;
  }

  @include mq(desk) {
    padding-top: 147px;
    margin-bottom: 40px;
  }
}

.hero__img {
  position: absolute;
  left: calc(50% - 40px);
  top: 50px;
  z-index: -1;
  max-width: 100%;

  @include mq(tab) {
    top: 80px;
    left: calc(50% - 80px);
  }

  @include mq(desk) {
    left: calc(50% + 40px);
    top: 90px;
  }
}

.hero__img_tasty {
  display: none;

  @include mq(tab-only) {
    display: block;
    position: absolute;
    left: calc(50% + 151px);
    bottom: 0;
  }

  @include mq(desk) {
    display: block;
    position: absolute;
    left: calc(50% + 290px);
    bottom: 0;
  }
}

.hero__item_button:first-child {
  margin-right: 8px;
}

.hero__title {
  @include fonts(calc(var(--index) * 2), 700, 1.62, null);
  text-shadow: 0 0 30px #171111;
  text-transform: uppercase;

  min-width: 218px;
  max-width: 100%;
  margin-bottom: 20px;

  color: var(--background-secondary);

  @include mq(fab) {
    max-width: 360px;

    margin-bottom: 0;
  }

  @include mq(tab) {
    line-height: 1.14;
    max-width: 420px;

    margin-bottom: 0;
  }

  @include mq(desk) {
    padding-top: 0;
    font-size: 38px;
    line-height: 1.16;
    width: 277px;
    height: 137px;
    margin-bottom: 24px;
  }
}

.hero__title_red {
  color: var(--title-main);

  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
  @include mq(tab) {
    line-height: 0.9;
  }

  @include mq(desk) {
    line-height: 0.9;
  }
}

.hero__list_button {
  display: flex;
  gap: 10px;
}

// .hero_container_milk {
//   @include mq(mob-only) {
//     display: none;
//   }

//   display: flex;
//   margin-left: 0;
//   margin-right: auto;

//   @include mq(desk) {
//     max-height: 216px;
//   }
// }

.hero__container_title {
  @include mq(fab) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.hero__img_milk {
  display: none;

  @include mq(tab-only) {
    display: block;
  }

  @include mq(desk) {
    display: block;
  }
}

.hero_container-text {
  margin-left: 0;
  display: block;
  margin-top: 68px;

  @include mq(tab-only) {
    margin-top: 41px;
  }
}

.hero__round {
  display: flex;
  width: 346px;
  height: 344px;
  background-color: var(--title-secondary);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 125px);
  top: 83px;
  z-index: -1;

  @include mq(tab) {
    width: 335px;
    height: 333px;
    left: 248px;
    top: 43px;
  }

  @include mq(desk) {
    width: 534px;
    height: 534px;
    left: 531px;
    top: 52px;
  }
}

.hero-scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 8px;
  writing-mode: vertical-rl;
  text-orientation: upright;

  &::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 14px;
    bottom: 115px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background-color: var(--white-text);
  }
}

.hero__text {
  display: none;

  @include mq(tab-only) {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--background-secondary);
  }

  @include mq(desk) {
    display: block;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    position: absolute;
    line-height: 1.42;
    color: var(--background-secondary);
    font-size: 14px;
  }
}

.hero__list_number {
  display: none;

  @include mq(tab) {
    display: block;
    position: relative;
  }

  @include mq(desk) {
    padding-top: 5px;
  }
}

.hero__item_number:first-child {
  @include mq(tab) {
    margin-bottom: 13px;
  }

  @include mq(desk) {
    margin-bottom: 15px;
  }
}

.hero__text_number {
  @include mq(tab) {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-main);
  }

  @include mq(desk) {
    font-size: 46px;
  }
}

.hero__text_cafes,
.hero__text_food {
  @include fonts(12px, 400, 1.25, null);
  color: var(--background-secondary);

  @include mq(desk) {
    font-size: 14px;
  }
}

.hero__button_products {
  background-color: var(--title-main);
  padding: 8px 10px;
  font-family: inherit;
  text-align: center;
  color: var(--background-secondary);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;

  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.31;

  @include mq(desk) {
    display: flex;
    min-width: 107px;
    min-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.29;
  }

  transition: color var(--transition), background-color var(--transition);
}

.hero__button_products:hover,
.hero__button_products:focus {
  background-color: #ecebeb;

  // background-color: var(--background-secondary);
  color: var(--title-main);
}

.hero__button_made {
  background-color: var(--background-secondary);
  padding: 8px 10px;
  font-family: inherit;
  text-align: center;
  color: var(--title-main);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 80px;
  // height: 32px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.31;

  @include mq(desk) {
    width: 138px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.29;
  }

  transition: color var(--transition), background-color var(--transition);
}

.hero__button_arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--background-secondary);
  border: none;
  color: var(--title-main);
  fill: var(--title-main);
  cursor: pointer;

  transition: color var(--transition), background-color var(--transition),
    fill var(--transition);
}

.hero__button_arrow {
  display: none;

  @include mq(tab-only) {
    display: block;
    margin-left: 0;
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }

  @include mq(desk) {
    display: block;
    margin-top: 98px;
    margin-left: 0;
  }
}

.hero__button_made:hover,
.hero__button_made:focus {
  background-color: #ecebeb;
}

.hero__button_arrow:hover,
.hero__button_arrow:focus {
  transform: rotateZ(90deg);
}

// -------------PARALLAX----------------------------

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  will-change: transform;
  transition: var(--transitionParallax);
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 2.2), 0);
}
.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
}

// ---------------Закоментированная свг дыма под "хиро"

// .sky-icon {
//   z-index: -1;
//   display: inline-block;
//   position: absolute;
//   top: 5%;

//   width: 100%;
//   height: 1200px;
//   stroke-width: 0;
//   stroke: currentColor;
//   // fill: #2a336ec3;
//   fill: rgb(43 53 119 / 55%);
//   @include mq(fab) {
//     top: 25%;
//   }
// }
